<div class="container_home">


  <h1>Choose your islands</h1>

  <div class="row">
    <div class="col-lg-6 col-md-6">

      <% @islands.each do | island | %>

        <%= link_to island_path(island) do %>

          <div class="card-index-island">

              <%= cl_image_tag island.picture.key, class: "index-island-image" %>

            <div class="information-index-cards">
              <div class="card-index-island-infos">
                <h2> <%= island.name %></h2>
                <p><%= island.ocean %>, <%= island.country %></p>

                <%# <i class="fas fa-bookmark"></i> %>
                <div class="price-capacity-index">
                  <h2 class="card-index-island-capacity"> <span><i class="fas fa-hotel"></i></span> <%=  island.capacity %><span> Housing</span></h2>
                  <h2 class="card-trip-pricing">$ <%= island.price_per_day.to_i.to_s(:delimited) %> <span> / Day</span> </h2>
                  <% if island.shark %>
                  <%= image_tag "layout/shark.png", class: "shark-image" %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6">
      <!-- <img id="map-island-index" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiaGFyeW9zIiwiYSI6ImNraDZkcnY5dTAwejMycmwzNWkyY3oxZG4ifQ.HEoss9bdaBYpjGpQs5gRLg'>
      <script src=‘https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js’></script> -->
      <div id="map-island-index"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
