<div class="container_home">
      <h1>Choose your islands</h1>
  <div class="row">

      <%= link_to island_path(island) do %>
      <% @islands.each do | island | %>
      <%# <div><% link_to island_path, class="card-index-island" %>
        <div class="card-index-island">
        <%= cl_image_tag island.picture.key %>
        <%# <img src="./assets/images/layout/palm-tree-2.svg" alt="" style="height:20px; width:20px;"> %>
        <%= image_tag "layout/palm-tree-2.svg", class:"favori-index-island button" %>
        <!-- <img src="https://source.unsplash.com/featured/?island,paradise" /> -->

        <div class="card-index-island-infos">
          <div>
            <h2> <%= island.name %></h2>
            <p><%= island.ocean %></p>
            <p><%= island.country %></p>
            <%# <%= link_to "More info", island_path %>
          </div>

            <h2 class="card-index-island-capacity fas fa-user-friends"> <%=  island.capacity %></h2>
          <h2 class="card-trip-pricing"><%= island.price_per_day %> $ / night </h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-index-island-user avatar-bordered" /> -->
        </div>
      </div>
      <% end %>
      <% end %>
   </div>

    <div class="col-lg-6 col-md-6">
    <h1>Map</h1>
      <!-- <img id="map-island-index" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiaGFyeW9zIiwiYSI6ImNraDZkcnY5dTAwejMycmwzNWkyY3oxZG4ifQ.HEoss9bdaBYpjGpQs5gRLg'>
      <script src=‘https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js’></script> -->
      <div id="map-island-index"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
