<!-- My Islands -->
<div class="space" style="height:50px"></div>
<div class="container_home">
<h1>My Island(s)</h1>
<%= link_to "Back", root_path, class: "btn btn-ghost" %>
<br>
  <% if @islands.empty?  %>
    You have <%= @islands.count %> Islands please create one <br>
    <%= link_to "~ ADD ~ Your Island", new_owner_island_path, class: "btn btn-ghost" %>
    <% end %>
    <br>

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <% @islands.each do | island | %>
        <%= link_to island_path(island) do %>

          <div class="card-index-island">

            <%= cl_image_tag island.picture.key, class: "index-island-image" %>

<!--             <%= link_to owner_island_path(island) do %>
            <i id="pen" class="card-category-icon fa fa-pen"></i>
            <% end %>

            <%= link_to islands_path(island),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="card-category-icon fas fa-trash-alt"></i>
            <% end %> -->

            <div class="information-index-cards">
              <div class="card-index-island-infos">
                <h2> <%= island.name %></h2>
                <p><%= island.ocean %>, <%= island.country %></p>

                <%# <i class="fas fa-bookmark"></i> %>
                <div class="price-capacity-index">
                  <h2 class="card-index-island-capacity"> <span><i class="fas fa-hotel"></i></span> <%=  island.capacity %><span> Housing</span></h2>
                  <h2 class="card-trip-pricing">$ <%= island.price_per_day.to_i.to_s(:delimited) %> <span> / Day</span> </h2>
                  <% if island.shark %>
                  <%= image_tag "layout/shark.png", class: "shark-image" %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6">
      <h1>Add an Island</h1>
      <div class="row form_new_island">
        <%= render 'new' %>
      </div>
    </div>
  </div>
</div>
