
<div class="form_new_booking" >
  <div id="price_per_day" data-price="<%= @island.price_per_day %>">
   <!-- <h4>Just $<%= @island.price_per_day.to_i.to_s(:delimited)  %>/day</h4> -->
  </div>

    <%= simple_form_for [ @island, @booking ] do |f| %>
    <%= f.input :start_date, as: :string, required: false, html5: true, input_html: { id: "start_date_datepikr" }%>
    <%= f.input :end_date, as: :string, required: false, html5: true, input_html: { id: "end_date_datepikr" } %>
    <%= f.input :nb_travelers %>

    <p>Total: <span id="total_price"></span><span id="total_price_currency">$</span></p>
    <%= f.submit "Book Now", class: "btn btn-booking" %>
   <% end %>

</div>

