<!-- <div class="form_new_booking" > -->

  <%= simple_form_for [ @island, @booking ] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :nb_travelers %>
    <%= @island.price_per_day %>$ /night
    <div class="btn_new_booking">
      <%= f.submit "Book now", class: "btn btn-primary" %>
    </div>
   <% end %>
<!-- </div> -->


