<div class="form_new_booking">

  <%= simple_form_for [ @island, @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :nb_travelers %>
    <%= @island.price_per_day %>$ /night
    <div class="btn_new_booking">
      <%= f.submit "Book now", class: "btn btn-primary" %>
    </div>
    <%= link_to "back", island_path(@island) %>
   <% end %>
</div>


